body {
font-family: 'Montserrat', sans-serif;
background-color: #011b34;
color: #ffffff;
margin: 0;
line-height: 1.6;
}

header {
background-color: #041c34;
color: white;
text-align: center;
padding: 20px;
}

h1 {
font-size: 40px;
margin-bottom: 5px;
}

h2 {
color: #f9fafa;
border-bottom: 2px solid #ffffff;
padding-bottom: 5px;
}

h3 {
color: #fdfdfd;
}

nav {
background-color: #0084ff;
text-align: center;
padding: 15px;
}

nav a {
color: white;
text-decoration: none;
margin: 0 15px;
}

nav a:hover {
text-decoration: underline;
}

main {
width: 80%;
max-width: 900px;
margin: 30px auto;
}

section {
background-color: #0084ff70;
margin-bottom: 25px;
padding: 25px;
border-radius: 2px;
}

li {
margin-bottom: 8px;
}

article {
border-left: 4px solid #dce3ea;
padding-left: 15px;
margin-bottom: 25px;
}

blockquote {
background-color: #0084ff;
padding: 15px;
margin: 20px 0;
font-style: italic;
}

footer {
text-align: center;
padding: 20px;
color: #f8f8f8;
}